// LCES CSS STYLING SOURCE

// Transform cross-browser
@import "css3-scss/transform";

// Main vars
$smooth-transition-function: cubic-bezier(.31,.26,.1,.92);

.abs-fill {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/* Fix body font */
.lces-themify {
  font-family: Arial;
}

br2 {
  position: relative;
  display: block;
  padding: 0px;
  margin: 0px;
  height: 10px;
}

.lces-themify hr {
  border-top: 0px;
  border-style: solid;
  opacity: 0.75;
}

.lces-themify a {
  font-weight: normal;
  text-decoration: none;
}

.lces-themify label {
  font-weight: bold;
}

@font-face {
  font-family: "CODE";
  src: url(http://b-fuze.github.io/lces/main-css/codebold.otf);
}

@font-face {
  font-family: "Lato";
  src: url(http://b-fuze.github.io/lces/main-css/lato-reg.ttf);
}

@font-face {
  font-family: "Righteous";
  src: url(http://b-fuze.github.io/lces/main-css/righteous.ttf);
}

@font-face {
  font-family: "Couture";
  src: url(http://b-fuze.github.io/lces/main-css/couture-bld.otf);
}

.lces-themify h1, .lces-themify h2, .lces-themify h3, .lces-themify h4, .lces-themify h5, .lces-themify h6 {
  margin: 0px;
  margin-bottom: 10px;
  font-family: Lato;
  font-weight: normal;
}

.lces-themify h1 {
  font-size: 2.25em;

}

.lces-themify h2 {
  font-size: 2em;
}

.lces-themify h3 {
  font-size: 1.75em;
}

.lces-themify h4 {
  font-size: 1.5em;
}

.lces-themify h5 {
  font-size: 1.25em;
}

.lces-themify h6 {
  font-size: 1.125em;
}

.lces-themify .lc-i {
  font-style: italic;
}

.lces-themify .lc-b {
  font-weight: bold;
}

.lces-themify .lc-centertext {
  text-align: center;
}

.lces-themify .lc-indent {
  margin-left: 15px;
  margin-right: 15px;
}

.lces-themify .lc-inlineblock {
  display: inline-block;
}

/* LCES Widgets Main Styling */

.lces-scrollbar-screen {
  position: fixed;
  z-index: 99999999999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  display: none;
}

.lces-scrollbar-screen.lces-sb-screen-visible {
  display: block;
}

.lces-scrollbars-visible *:hover>.lces-scrollbar-trough, .lces-scrollbars-visible .lces-scrollbar-trough.active {
  opacity: 0.75;
}

.lces-scrollbars-visible .lces-scrollbar-trough {
  opacity: 0.5;
}

.lces-scrollbar {
  position: absolute;
  width: 100%;
}

.lces-scrollbar-trough {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 6px;
  background: rgba(0, 0, 0, 0.075);
  opacity: 0;
  transition: opacity 200ms ease-out, width 200ms ease-out;
}

.lces-scrollbar-trough:hover, .lces-scrollbar-trough.active {
  width: 9px;
}

.lces-scrollbar-trough.lc-sbright {
  right: 0px;
}

.lces-scrollbar-trough.lc-sbleft {
  left: 0px;
}

/* LCES Placeholder Styling */
lces-placeholder {
  display: none;
}

/* LCES Control Widget Styling */

.lcescontrol {
  position: relative;
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.lcescontrol[disabled] {
  opacity: 0.5;
  cursor: default !important;
}

.lcescontrol[disabled] * {
  pointer-events: none;
  cursor: default !important;
}

.lcescontrol .lcescontrolclick {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: none;
}

/* LCES Window Styling */

/* LCES TextField Styling */

.lces-themify *::-webkit-input-placeholder, .lces-themify *:-moz-placeholder, .lces-themify *::-moz-placeholder, .lces-themify *:-ms-input-placeholder {
  color: #BFBFBF;
  font-style: italic;
  font-weight: normal;
}

/* For numberfield */

.lces-numberfield::-webkit-input-placeholder {
  font-style: normal;
}
.lces-numberfield:-moz-placeholder { /* Firefox 18- */
  font-style: normal;
}
.lces-numberfield::-moz-placeholder {  /* Firefox 19+ */
  font-style: normal;
}
.lces-numberfield:-ms-input-placeholder {
  font-style: normal;
}

input.lces[type="text"], input.lces[type="password"] {
  vertical-align: middle;
}

input.lces[type="text"], input.lces[type="password"], textarea.lces   {
  padding: 3px;
  min-width: 150px;
  height: auto;
  outline: 0px;
  border: 2px solid #000;
  border-radius: 3px;
  color: #262626;
  background-color: #fff;
  font-size: 14px;
  font-family: "Trebuchet MS";
  resize: none;
}

input.lces[type="text"]:disabled, input.lces[type="password"]:disabled {
  background-color: #F2F2F2;
}

.numberfield-container {
  position: relative;
  display: inline-block;
}

input.lces.lces-numberfield {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-right-width: 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.numberfield-container .arrow {
  width: 16px;
  height: 50%;
  position: absolute;
  right: 0px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}

.numberfield-container .arrow.active {
  background: rgba(0, 0, 0, 0.1);
}

.numberfield-container .arrow svg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto auto;
  opacity: 0.85;
  transition: opacity 200ms ease-out;
}

.numberfield-container .arrow:hover svg {
  opacity: 1;
}

.numberfield-container .arrow.top {
  top: 0px;
  border-top-right-radius: 4px;
}

.numberfield-container .arrow.bottom {
  bottom: 0px;
  border-bottom-right-radius: 4px;
}

.lces-slider {
  position: relative;
  top: -3px;
  vertical-align: middle;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 5px;
  height: 28px;
  width: 138px;
  overflow: hidden;
  background: #fff;
  line-height: normal;
}

.lces-slider-min, .lces-slider-max, .lces-slider-value {
  position: absolute;
  top: 4px;
  font-family: Righteous;
  font-size: 16px;
  color: #D9D9D9;
}

.lces-slider-min {
  left: 5px;
}

.lces-slider-max {
  right: 5px;
}

.lces-slider-value {
  right: 0px;
  left: 0px;
  text-align: center;
  color: #f00;
  opacity: 0.25;
}

.lces-slider-scrubbar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.lces-slider-scrubber {
  position: absolute;
  top: 1px;
  left: 0px;
  margin: 0px 0px 0px 1px;
  width: 15px;
  height: 26px;
  border-radius: 3.5px;
  background: #000;
  opacity: 0.75;
  transition: opacity 250ms ease-out;
}

.lces-slider.animated .lces-slider-scrubber {
  transition: opacity 250ms ease-out, left 150ms cubic-bezier(.1,.41,0,.99);
}

.lces-slider-scrubbar:hover .lces-slider-scrubber, .lces-slider.scrubbing .lces-slider-scrubber {
  opacity: 1;
}

/* LCES Colorfield Widget */

#lces-colorchoosermodalcontainer {
  position: fixed;
  z-index: 999999999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: transform 0ms linear 250ms;
  
  &.visible {
    transition: transform 0ms linear 0ms;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}

.lces-colorchooser {
  position: relative;
  top: -3px;
  vertical-align: middle;
  display: inline-block;
  
  .lces-cc-display {
    display: inline-block;
    height: 26px;
    width: 46px;
    border-radius: 4px;
    border: 2px solid #000;
  }
  
  .lces-cc-color {
    margin: 4px;
    width: 38px;
    height: 18px;
    border-radius: 1px;
    background: #000;
    cursor: pointer;
  }
}

.lces-colorchooser-modal {
  position: absolute;
  z-index: 20000000;
  top: 0px;
  left: 0px;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  /*border: 1px solid #000;*/
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform-origin: 0% 0%;
  transform: scale(0.85);
  transition: transform 150ms $smooth-transition-function, opacity 150ms $smooth-transition-function;
  
  &.flipped {
    /*top: auto;
    bottom: 100%;*/
    margin: 0px;
    transform-origin: 0% 100%;
  }
  
  &.visible {
    opacity: 1;
    transform: scale(1);
  }
  
  .lces-cc-section {
    padding: 15px;
    
    &.lces-cc-controls {
      padding-top: 0px;
      padding-bottom: 0px;
      background: #F2F2F2;
    }
  }
  
  .lces-cc-wheel {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background-color: #F2F2F2;
    background-size: 100%;
  }
  
  .lces-cc-wheel-value {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #000;
    opacity: 0;
  }
  
  .lces-cc-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #000;
  }
  
  .lces-cc-row {
    overflow: auto;
  }
  
  .lces-cc-label {
    float: left;
    display: block;
    width: 16px;
    font-family: Couture;
    font-size: 25px;
    color: #808080;
    background: #e5e5e5;
    padding: 10px 7px 5px 7px;
    cursor: default;
    margin-right: 10px;
  }
  
  .lces-slider {
    margin-top: 7px;
    border-width: 1px;
    outline: 0px !important;
  }
}

/* LCES Fileupload widget */

.lces-file * {
  cursor: pointer !important;
}

.lces-file input[type="file"] {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
  cursor: pointer !important;
}

.lces-file {
  position: relative;
  display: block; /* ??? */
  padding: 0px 33px 0px 0px;
  height: 36px;
  width: 123px;
  border-radius: 3px;
  background-color: #000;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer !important;
}

.lces-file>div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 33px;
  bottom: 0px;
}

.lces-file>div>div {
  display: table;
  width: 100%;
  height: 100%;
}

.lces-file>div>div>div {
  display: table-cell;
  vertical-align: middle;
}

.lces-file>div>div>div>div {
  text-align: center;
  color: #fff;
}

/* So redundant and annoying, I'd rather just use flex, but noo... :| */

.lces-file>aside {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(0,0,0,0.25);
  transition: background 200ms ease-out;
}

.lces-file:hover>aside {
  background: rgba(0,0,0,0.15);
}

.lces-file:active>aside {
  background: rgba(0,0,0,0.5);
}


/* Buttons */


.lces-themify button {
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  outline: 0px;
  border-radius: 3px;
  margin: 0px 10px 10px 0px;
  padding: 5px 10px;
  border: 0px;
  color: #fff;
  background: #000;
  cursor: pointer;
}

.lces-themify button:before, .lces-file:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: rgba(255,255,255,0);
  transition: background 100ms ease-out;
}

.lces-themify button:hover:before, .lces-file:hover:after {
  background: rgba(255,255,255,0.2);
}

.lces-themify button:active:before, .lces-file:active:after {
  background: rgba(0,0,0,0.075);
  transition: background 0ms ease-out !important;
}

/* LCES Radio Styling */

.lcesradio {
  position: relative;
  top: 1px;
  width: 12px;
  height: 11px;
  margin: 2px;
  display: inline-block;
}

.lcesradio .radiobuttoncolor {
  fill: #000;
}

.lcesradio svg path:last-child {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.lcesradio[checked] svg path:last-child {
  opacity: 1;
}

/* LCES CheckBox Styling */

.lcescheckbox {
  position: relative;
  /*top: -3px;*/
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 2px;
  display: inline-block;
  
  .checkboxcolor {
    fill: #000;
  }
  
  svg path:last-child {
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
  
  &[checked] svg path:last-child {
    opacity: 1;
  }
}

/* LCES Toggle Field Styling */

.lces-togglebox {
  display: inline-block;
  position: relative;
  width: 68px;
  height: 34px;
  border-radius: 5px;
  overflow: hidden;
  
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  
  &::before {
    content: "";
    @extend .abs-fill;
    // left: 0px;
    z-index: 6;
    
    border-radius: 5px;
    
    opacity: 1;
    background: rgba(0, 0, 0, 0.15);
    transition: /*left 250ms $smooth-transition-function,*/ opacity 250ms $smooth-transition-function;
  }
  
  &.checked {
    
    &::before {
      opacity: 0;
    }
    
    .lces-togglebox-handle {
      // left: 34px;
      @include transform(translateX(34px));
      
      // &::before {
      //   left: -35px;
      //   opacity: 1;
      // }
    }
  }
  
  &, * {
    cursor: default !important;
  }
  
  .lces-togglebox-handle {
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0px;
    @include transform(translateX(0px));
    height: 100%;
    width: 34px;
    transition: transform-transition(250ms $smooth-transition-function);
    
    .lces-togglebox-inner {
      @extend .abs-fill;
      margin: 2px;
      z-index: 10;
      border-radius: 4px;
      overflow: hidden;
      
      &::before {
        content: "";
        @extend .abs-fill;
        z-index: 5;
        border-radius: 4px;
        background: #fff;
        // border: 10px solid #fff;
        opacity: 1;
      }
      
      .lces-togglebox-text {
        @extend .abs-fill;
        z-index: 10;
        bottom: auto;
        line-height: 30px;
        text-align: center;
        font-size: 10px;
      }
    }
  }
}

/* LCES DropDown Styling */

.lces-dropdown-screen {
  position: fixed;
  z-index: 9999999999;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transform: translate3d(-100%, 0px, 0px);
  
  &.visible {
    transform: translate3d(0px, 0px, 0px);
  }
  
  .lcesdropdown {
    position: absolute;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    margin: 0px;
    border-color: transparent !important;
    background: transparent !important;
    
    .lcesselected, .lcesdropdown-arrow {
      opacity: 0 !important;
      // pointer-events: none;
    }
  
    * {
      // pointer-events: auto;
    }
  }
}

.lcesdropdown {
  position: relative;
  vertical-align: middle;
  top: -3px;
  margin: 0px;
  display: inline-block;
  min-width: 98px;
  padding: 3px;
  border: 2px solid #000;
  border-width: 2px 27px 2px 2px;
  border-radius: 3px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  background: #fff;
  cursor: default;
  /*margin: 0px 0px 10px 0px;*/
  
  .lcesdropdown-arrow {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
    right: -18px;
    height: 6px;
    width: 10px;
  }
  
  .lcesdropdown-arrow svg {
    position: absolute;
    transform: scaleY(1.2);
  }
  
  .lcesoptions {
    position: absolute;
    z-index: 600000;
    top: 100%;
    left: -2px;
    right: -27px;
    border: 0px solid #000;
    border-width: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: bold;
    background: #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transform-origin: 50% 0%;
    transform: scale(0.90);
    opacity: 0;
    transition: transform 200ms $smooth-transition-function, opacity 200ms $smooth-transition-function;
  }
  
  &.visible .lcesoptions {
    opacity: 1;
    transform: scale(1);
  }
  
  &.flipped .lcesoptions {
    transform-origin: 50% 100%;
    top: auto;
    bottom: 100%;
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  
  .lcesselected {
    
  }
}

.lcesoption {
  position: relative;
  padding: 3px;
  margin-bottom: 1px;
  background: rgba(0,0,0,0);
  color: #484848;
  transition: background-color 200ms ease-out;
  
  &:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 2px;
    right: 2px;
    height: 1px;
    background: #000;
    opacity: 0.5;
  }
  
  &:hover, &[lces-selected] {
    background: rgba(0,0,0,0.05);
  }
  
  &:last-child {
    margin-bottom: 0px;
  }
  
  &:last-child:after {
    height: 0px;
  }
}

/* LCES Table Styling */

.lces-themify table {
  border-spacing: 0px;
  font-family: Arial;
}

table.lces thead th {
  position: relative;
  border: 0px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  padding: 7px 10px;
  font-size: 13px;
}

table.lces thead th:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 10%;
  bottom: 10%;
  width: 1px;
  background: #000;
}

table.lces thead th:first-child:before {
  width: 0px;
}

table.lces tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background: #fff;
}

table.lces tr[checker] {
  /* Some slight alteration here */
  /*background: transparent;*/
}

table.lces tr td {
  border: 0px;
  padding: 10px;
}


/* LCES Window */


.lces-window {
  position: fixed;
  z-index: 1000000;
  top: 0px;
  left: 0px;
  opacity: 0;
  color: #484848;
  line-height: 1.6;
  transition: opacity 400ms ease-out;
}

.lces-window[visible] {
  opacity: 1;
}

.lces-window[window-invisible] {
  margin-left: -9999999%;
}

.lces-window>div {
  padding: 0px;
  /*background: rgba(0,0,0,0.1);*/
}

.lces-window>div>div {
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.lces-window .lces-window-title {
  padding: 15px 10px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background: rgba(0,0,0,0.1);
  cursor: default;
}

.lces-window .lces-window-contents {
  padding: 25px 20px 30px 20px;
}

.lces-window .lces-window-buttonpanel {
  padding: 10px;
  text-align: right;
  background: rgba(0,0,0,0.1);
}

.lces-window .lces-window-buttonpanel button {
  margin-bottom: 0px;
}

.lces-window .lces-window-buttonpanel button:last-child, .lces-window .lces-window-buttonpanel div:last-child button {
  margin: 0px;
}


/* LCES Notifications */

.lces-notification {
  border-radius: 3px;
  position: static;
  width: 275px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.lces-notification[visible] {
  opacity: 0.9;
}
.lces-notification > div {
  /*background: transparent !important;*/
  padding: 0px;
  margin: 4px 0px;
  border: 1px solid #000;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  transition: height 400ms $smooth-transition-function;
}

.lces-window.lces-notification > div > div {
  background: rgba(0,0,0,0.025);
  box-shadow: none;
}

.notification-alignment.notifi-relative .lces-notification > div {
  margin: 0px !important;
}

.notification-alignment {
  position: fixed;
  z-index: 1000000;
}
.notification-alignment.notifi-relative {
  position: static !important;
}
.notifi-top {
  top: 5px;
}
.notifi-bottom {
  bottom: 5px;
}
.notifi-middle {
  top: 45%;
}
.notifi-right {
  right: 5px;
  text-align: right;
}
.notifi-left {
  left: 5px;
}
.notifi-center {
  left: 5px;
  right: 5px;
  text-align: center;
}

.notifi-center .lces-notification {
  margin-right: auto;
  margin-left: auto;
}

/* Extra components */

.lces-accordion {
  display: block;
  margin: 0px 0px 10px 0px;
}

.lces-accordion .lces-acc-section {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow: hidden;
  margin: 0px 0px 5px 0px;
}

.lces-accordion .lces-acc-section .lces-acc-title {
  display: block;
  padding: 5px;
  font-weight: bold;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.25);
  border: 0px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.lces-accordion .lces-acc-section.lces-acc-open .lces-acc-title {
  border-bottom-width: 1px;
}

.lces-accordion .lces-acc-section .lces-acc-title .lces-acc-arrow {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: rotate(0deg);
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
  transition: transform 500ms cubic-bezier(.1,.41,0,.99);
}

.lces-accordion .lces-acc-section.lces-acc-open .lces-acc-title .lces-acc-arrow {
  transform: rotate(90deg);
}

.lces-accordion .lces-acc-section .lces-acc-title .lces-acc-arrow svg {
  margin: 0px;
}

.lces-accordion .lces-acc-section .lces-acc-contents>div {
  padding: 10px;
}

.lces-accordion .lces-acc-section .lces-acc-contents {
  overflow: hidden;
  height: 0px;
  transition: height 500ms cubic-bezier(.1,.41,0,.99);
}

.lces-accordion .lces-acc-section.lces-acc-open .lces-acc-contents {
  overflow: auto;
}
